body{
    background-color:rgb(192, 230, 226);
}
.btn-margin{
    margin: 15px;

}
label{
    margin: 10px;
}
input{
   
    width: 300px;
    border-radius: 10px;
}
img{
    border-radius: 50px;
    
}
.img-center{
    width: 100%;
  
   text-align: center;
}
.br{
    border-radius: 25px;
    background-color: rgb(225, 240, 234);
    margin-top: 30px;
    padding: 10px 20px;
    padding-left: 30px;
    border: 2px solid orangered;
}
h1{
    text-align: center;
}