{% extends "base.html" %}
{%  block start %}

<!-- jumbotron and nav -->
<section class="colorful jumbotron mb-0" role="banner">
    <nav class="navbar navbar-expand-lg justify-content-between navbar-dark" role="navigation">
        <div class="navbar-brand">
            <a href="index.html">Hotel Spoof
                <em>.</em>
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
       
    </nav>

    <div class="container hotels-container">


    </div>
</section>



{% endblock %}