<!DOCTYPE html>
<html>
<head>
<style>

  h1 {text-align: center;}

body {
  background-color: lightgrey;
}.rectangle {
  height: 300px;
  width: 1570px;
  background-color: lightblue;
  border: 2.5px solid black;
  
}
.rectangle1 {
  height: 300px;
  width: 1570px;
  background-color: lightblue;
  border: 2.5px solid black;
  
}
  
</style>
</head>
<body>
    <h1>Details of Hotel Booking</h1>

<div class="rectangle">
    
    <h3>Usernme : {{user.username}}</h3>
    <p>Hotel_Name : </p>
    <p>Check_In : </p>
    <p>Check_Out: </p>
    <p>Rooms: </p>
    <p>Adult: </p>
    <p>Children: </p>
    <p>Total Pay : </p>

</div>

<>


<div class="rectangle1">
    
  <h3>Usernme : {{user.username}}</h3>
  <p>Hotel_Name : </p>
  <p>Check_In : </p>
  <p>Check_Out: </p>
  <p>Rooms: </p>
  <p>Adult: </p>
  <p>Children: </p>
  <p>Total Pay : </p>

</div>

</body>
</html>